* {
    font-family: sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 20px 200px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;

}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    padding: 140px 200px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    /*TODO finish header*/
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    padding-right: 50px;
    
}

.sign-up {
    background-color: #3882f6;
    width: 130px;
    padding: 8px;
    color: #e5e7eb;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.hero-heading {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.image {
    background-color: #6d747d ;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 525px;
    height: auto;
    flex-shrink: 0;
}

.cta-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: 2px solid #f9faf8;
    cursor: pointer;
    width: 140px;
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
}

.call-to-action {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

.cta-text {
    border: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cta-header {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.cta-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.call-to-action-wrapper {
    padding: 100px 200px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    background-color: #1f2937;
    height: 100px;
}

.information {
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info-item-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 165px;
    gap: 10px;
}

.item-img {
    width: 165px;
    height: 165px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.item-text {
    text-align: center;
    font-size: 18px;
    color: #737b86;
}

.quote-wrapper {
    height: 430px;
    background-color: #e5e7eb;
    display: flex;
    padding: 0 310px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-weight: bold;
    font-size: 24px;
    color: #1f2937;
    align-self: flex-end;
    padding-right: 36px;
}